.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10rem;
}

.header_text{
    font-size: 14px;
    color: #646464;
}

body{
    background-image: url('images/background.png');
    overflow-x: hidden;
}

.heading{
    color: #40A3F8;
}

.get_btn{
    background-color: #40A3F8;
    color: white;
}



.live_btn{
    background-color: #40A3F8;
    color: white;
    margin-right:  .9rem;
}

.wrapper{
    max-width: 80%;
}

.explore_btn{
    background-color: #40A3F8;
    color: white;

}




.service_card{
    width: 20rem;
    height: 18rem;
    background-color: white;
    padding: 2rem;
    border-radius: .6rem;
}
.service_card:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

.card-text{
    color: #999999;
}

.content_text{
    background-color: #40A3F8;
    display: inline-block;
}
/* 
.first_point{
    align-items: center;
    justify-content: center;
   
} */

.footer_list ul{
    list-style: none;
    line-height: 2.5rem;

}

.footer_list ul li a{
    text-decoration: none;
    color: #646464;
   
}

.footer_btn a{
    text-decoration: none;
    background-color: #40A3F8;
    color: white;
    padding: .6rem 6rem;
    border-radius: .4rem;
}

.footer_list :hover{
    color: #40A3F8;
}

.social_links :hover{
   
    scale: 1.2;
   


}

.newsletter_text{
    color: #646464;
}

.all_right{
    color: #646464;
}

.footer_link a{
    text-decoration: none;
    color: #646464;
    padding: 0 1.5rem;

}

.footer_link :hover{
    color: #40A3F8;
   
}

.footer_btn :hover{
    /* background-color: transparent;
    border-radius: .2rem solid#; */
    color: black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    


}


